@model GatherUp.Models.Event

@{
    ViewData["Title"] = "Create";
    ViewData["Action"] = "Create";
}

<h1>Tworzenie wydarzenia</h1>
<hr />
<partial name="_EventForm" model="Model" />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}