@model GatherUp.Models.Event

@{
    ViewData["Title"] = "Edit";
    ViewData["Action"] = "Edit";
}

<h1>Edycja wydarzenia</h1>
<hr />
<partial name="_EventForm" model="Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
