@model PagedListViewModel<EventViewModel>
@using GatherUp.Models.ViewModels

@{
    ViewData["Title"] = "Przeglądaj";
}

<h1>Wydarzenia</h1>
<p>Dodawaj, przeglądaj i dołączaj do wydarzeń innych użytkowników!</p>

<a asp-action="Create" class="btn btn-success">Dodaj nowe wydarzenie</a>

<section class="px-0 py-3">
    <partial name="_EventsListing" model="Model" />
</section>