html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f4f4f4;
    height: 100vh;
}

@keyframes darken-bg {
    from {
        background-color: transparent;
    }
    to {
        background-color: rgba(0, 0, 0, 0.2);
    }
}

.nav-item {
    background-color: transparent;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    animation: darken-bg 0.2s ease;
    border-radius: 6px;
}

