@{
    ViewData["Title"] = "Home Page";
}

<div class="landing-image-container"><img class="landing-image" src="~/internal-images/landing-page.jpg"/></div>
<div class="landing-cta-container text-center">
    <h1 class=" text-white display-6 mb-3">GatherUp</h1>
    <p class="text-white">
        Witaj w GatherUp!<br />
        Dołącz do naszej społeczności i odkrywaj nowe wydarzenia.<br />
        Czekają na ciebie niesamowite chwile!
        </p>
    <a asp-area="" asp-controller="Events" asp-action="Index" class="btn btn-outline-light">Przeglądaj wydarzenia</a>
</div>
